.header {
    padding: 10px;
    width: 90%;
    font-family: 'Penna';
    font-size: 60px;
    font-weight: 900;
    margin-left: 400px;
    text-align: center;
}

.recipe-page {
    background: url(../assets/reipce\ page.jpg) no-repeat center center fixed;
    background-size: 100%;
    color: white;
    height: 100%;
}

.header-and-image {
    width: 80%;
}

.rec-image {
    border-radius: 50px;
}

.rec-drp {
    margin-left: 650px;
    width: 120%;
    margin-bottom: 24px;
    margin-top: -10px;
}

.card {
    padding: 0px;
    margin-left: 180px;
}

.hiddenasf {
    height: 100vh;
    visibility: hidden;
}

.Card-Title {
    color: black;
    text-align: center;
}