.recipe-card {
    border-radius: 10px;
    padding: 50px;
}

.rcollection {
    margin-left: 300px;
}

.big-r{
    background: url(../assets/salad.jpeg) no-repeat center center fixed;
}

.col-header {
    font-family: 'Penna';
    font-size: 80px;
    text-align: center;
    background-color: rgb(231, 231, 231);
}

.search-form {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    background-color:  rgb(231, 231, 231);
}

.search-submit {
    background-color: rgb(225, 226, 213);
    border-radius: 2px;
}

.search-submit:hover {
    background-color: rgb(208, 209, 197);
}